@import 'https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css';

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable', Pretendard, 'DM Sans',
    Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  font-size: 14px;
  color: white;
  user-select: none;
  overflow-y: scroll;
}

button {
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable', Pretendard, 'DM Sans',
    Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.loading {
  font-size: 24px;
  letter-spacing: 0.5px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.formInput {
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 12px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
  border: 0;
}

/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logOut {
  margin-top: 50px;
}

/* Nwitter Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.factoryInput__input:disabled {
  color: #04aaff;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.factoryInput__arrow:disabled {
  background-color: #949494;
}

.factoryInput__label {
  color: #04aaff;
  cursor: pointer;
}

.factoryInput__file {
  opacity: 0;
  height: 0;
}

.factoryInput__file:disabled ~ .factoryInput__label {
  color: #999;
  cursor: default;
}

.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.factoryForm__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.factoryForm__clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Nweet */

.nweetEdit .formBtn {
  cursor: pointer;
}

.nweetEdit .factoryInput__label {
  text-align: center;
  margin-block: 1.5rem;
}
.nweetEdit .factoryForm__clear {
  margin-top: 1.5rem;
}

.editBtns {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.nweetEdit .factoryForm__attachment img {
  position: unset;
}

.nweetEdit .factoryForm__attachment {
  margin-top: 0;
  align-items: center;
  margin-bottom: 1rem;
}

.nweet {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.nweet h4 {
  font-size: 14px;
  max-width: 80%;
  line-height: 1.5;
}

.nweet p {
  font-size: 12px;
  color: #999;
  margin-top: 0.8rem;
}

.nweet img {
  right: -15px;
  bottom: -10px;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

.nweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}

.nweet__nopost {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #999;
  margin-block: 5rem;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  gap: 0.5rem;
  padding-top: 2rem;
  border-top: 1px solid #999;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  letter-spacing: 0.5px;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
  font-size: 14px;
  color: black;
  letter-spacing: 0.5px;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  margin-bottom: 2rem;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

.navWrap {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
}

.navHome {
  margin-left: 10px;
}

.navProfile {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.hometab {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.hometab.auth {
  justify-content: flex-start;
  gap: 1rem;
  letter-spacing: 0.5px;
}

.hometab li {
  display: flex;
  gap: 1rem;
  position: relative;
  cursor: pointer;
  color: #04aaff;
}

.hometab p {
  position: relative;
}

.on {
  font-weight: 600;
}

.on::after {
  content: '';
  border-bottom: 2px solid #04aaff;
  display: block;
  width: 100%;
  position: absolute;
  bottom: -0.5rem;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}
